@media (max-width: 650px) {
	.header {
		font-size: 3.2vw;

		height: auto;
		flex-direction: row; 
	}

	.mainbar, .mainbar *, #meny * {
		display: none;
	}

	.mobilMeny, a#menyIkon {
		background-color: red;
		
		display: block;
	}

	.søkefelt {
		margin: 0;
	}

	.logo {
		font-size: 5vw;
	}

	#teat {
		height: 30vw;
	}
/*
	.mainbar {
		width: 60vw;
		min-width: auto;
		max-width: 380px;
	}

	.mainbar ul, .menyKnapp ul {
		width: auto;
		margin-left: -1.6rem;

		flex-direction: row;
		justify-content: space-between;
	}

	.mainbar li:hover {
		font-size: 3.2vw;
	}

	.søkefelt input[type=text] {
		font-size: 2.6vw;

		width: 30vw;
		min-width: auto;
		padding: 1vw 5vw 1vw 2vw;
	}

	.søkefelt input[type=text]:hover {
		width: 50vw;
	}*/
}