@media (max-width: 650px) {
	.header {
		background: black;

		font-size: 3.2vw;

		height: auto;
		flex-direction: row; 
		justify-content: flex-end;
	}

	.søkefelt {
		opacity: 1;

		margin: 0;

		flex-grow: 1;
	}

	.søkefelt input[type=text] {
		margin: 0;
		width: 100%;

		flex-grow: 1;
	}

	.søkefelt input[type=text]:focus {
		width: 100%;
	}

	.mainbar, .mainbar *, #kaphe {
		display: none;
	}

	.mobilMeny, #menyIkon, #menyIkon img {	
		display: flex;
	}

	#menyIkon:hover .mobilMeny * {
		display: block;
	}

	.logo {
		font-size: 5vw;
	}

	#teat {
		height: 30vw;
	}
}