@media (max-width: 650px) {
	.header {
		font-size: 3.2vw;

		height: auto;
	}

	.søkefelt {
		display: none;
	}

	.søkefelt2 {
		display: flex;
	}

	.logo {
		font-size: 5vw;
	}

	#teat {
		height: 30vw;
	}
}